.DS_Store

libmesh/ubuntu16.04_xenial/libmesh_v1.3.1/libmesh*
libmesh/ubuntu16.04_xenial/libmesh_v1.4.1/libmesh*
libmesh/ubuntu16.04_xenial/libmesh_v1.5.0/libmesh*
libmesh/ubuntu16.04_xenial/libmesh_v1.5.1/libmesh*

libmesh/ubuntu18.04_bionic/libmesh_v1.3.1/libmesh*
libmesh/ubuntu18.04_bionic/libmesh_v1.4.1/libmesh*
libmesh/ubuntu18.04_bionic/libmesh_v1.5.0/libmesh*
libmesh/ubuntu18.04_bionic/libmesh_v1.5.1/libmesh*
